*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin:0 auto;
}
.box{
    width: 100%;
    height: 100vh;
    position: relative;
}
.box video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
header{
    display: flex;
    align-items: center;
    gap: 50px;
    top: 0;
    padding: 30px 0;
    position: absolute;
    
    
}
nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    margin-left: 700px;
}
nav ul li a{
    color: white;
font-weight: 900;
font-style: Black;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
text-decoration: none;
}
.btn{
    width: 125px;
    height: 40px;
    color: black;
    background-color: #FFC800;
    border: none;
    border-radius: 8px;
font-weight: 900;
font-style: Black;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
}
.text{
    text-align: center;
    position: absolute;
    top: 200px;
    left: 250px;
}
.text p{
font-weight: 900;
font-style: Black;
font-size: 20px;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
padding-bottom: 30px;
color: white;
}
.p1{
    font-weight: 900;
font-style: Black;
font-size: 20px;
line-height: 150%;
letter-spacing: 0%;
text-align: center;

}
.text h1{
font-weight: 900;
font-style: Black;
font-size: 48px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
padding-bottom: 40px;
color: white;
}
.btn1{
    width: 260px;
    height: 50px;
    background: none;
    border-radius: 40px;
    border-color: white;
    color: white;
font-weight: 900;
font-style: Black;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;

}
.sec-1{
    background-color: black;
}
.ota1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.yozuv p{
    padding-bottom: 30px;
font-weight: 600;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;

}
.yozuv{
    color: white;
}
.sec-1 h1{
    color: white;
    padding-top: 40px;
}
.sec-1 .p1{
    color: #FFBF00BD;
    margin-right: 1130px;
}
.btn2{
    width: 170px;
    height: 50px;
    background-color: #FFC800;
font-weight: 900;
font-style: Black;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color: #474747;
border: none;
border-radius: 8px;
}
.sec-2{
    background-color: black;
}
.p3{
    color: #FFC800;
}
.sec-2 h1{
    padding-top: 150px;
    color: white;
}
.card{
    width: 260px;
    height: 220px;
    color: white;
    margin-top: 50px;
    background-color: #0E0E0E;
    padding-top: 20px;
    padding-left: 20px;
}
.card h3{
    padding-bottom: 20px;
    font-size: 25px;
    padding-top: 10px;
}
.card p{
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: #AEAEAE;
}
.ota3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-foot{
    padding: 30px 0;
    background-color: black;
    display: flex;
    align-items: center;
    padding-right: 1000px;
}
.hero-foot p{
    padding-left:50px ;
   color: white;
font-weight: 900;
font-style: Black;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;

}
.hero-i{
    display: flex;
    align-items: center;
    margin-left: 600px;
    color: grey;
    gap: 40px;
    font-size: 38px;
}